.article-container {
	display: flex;
	flex-direction: column;
	border: 1px solid $surface-2;
	border-radius: 8px;
	background: $surface-0;
}

.article-header {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	border-bottom: 1px solid $surface-2;

	&__title {
		display: flex;
		gap: 1rem;
		align-items: center;

		&-text {
			font-size: 1.75rem;
			font-weight: 600;
		}

	}

	&__time {
		display: flex;
		gap: 0.25rem;
		align-items: center;
		justify-content: center;
		font-size: 0.875rem;
		color: $text-quaternary;

		&-icon {
			& path {
				fill: currentColor !important;
				stroke: currentColor !important;
			}
			width: 1em;
			height: 1em;
		}
	}

	&__close-button {
		position: absolute;
		top: 1rem;
		right: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		border: none;
		color: $text-quaternary;
		cursor: pointer;
		border: 1px solid $surface-2;
		border-radius: 50%;
		padding: 0.25rem;

		&:hover {
			color: $text-main;
		}

		& svg {
			width: 1em;
			height: 1em;

			& path {
				fill: currentColor !important;
				stroke: currentColor !important;
			}
		}
	}
}

.article-content {
	display: flex;
	flex-direction: row;
}

.article-sidebar {
	flex: 0 0 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-right: 1px solid $surface-2;
	padding: 0.75rem;

	& .article-nav {
		width: 100%;
		border: 1px solid $surface-2;
		border-radius: 8px;
		padding: 0.25rem;
		background: $surface-1;

		position: sticky;
		top: 1rem;

		&__list {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			list-style: none;
			padding: 0;
			margin: 0;
		}

		&__item {
			display: flex;
			width: 100%;

			&__button {
				width: 100%;
				padding: 0.5rem 1rem;
				text-align: left;
				background: $surface-2;
				border: none;
				color: $text-main;
				border-radius: 5px;
				font-size: 0.875rem;
				cursor: pointer;

				&:hover {
					background: $accent-4;
				}

				&--active {
					background: $surface-5;
					color: $surface-0;

					&:hover {
						background: $accent-1;
					}
				}
			}

		}
	}
}

.article-body {
	flex: 1 1 auto;
	min-width: 0;
	background: $surface-1;
	border: 1px solid $surface-2;
	padding: 1rem;
	border-radius: 0.75rem;
	margin: 0.75rem;
	font-family: $fonts-sans;
	font-size: 0.95rem;

	&__section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		overflow: hidden;
		transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;

		& h3 {
			font-size: 1.25rem;
			font-weight: 700;
		}

		& h4 {
			font-size: 1.15rem;
			font-weight: 700;
		}

		& hr {
			border: none;
			border-top: 1px solid $surface-2;
			margin: 0.5rem 0 0.5rem 0;
		}

		& pre {
			border: 1px solid $surface-0;
			padding: 0.5rem;
			margin-block: 0.75rem;
			border-radius: 5px;
			overflow-x: auto;
			font-size: 0.875rem;
		}

		& code:not(pre code) {
			background: $surface-0;
			border: 1px solid $surface-2;
			border-radius: 3px;
			padding: 0.1em 0.35em;
			font-size: 0.875em;
		}

		&--active {
			display: flex;
			opacity: 1;
		}

		&__sub {
			margin-block-start: 2rem;

			&:not(:has(+ .article-body__section__sub)) {
					margin-block-end: 2rem;
			}
		}
	}

	&__section-title, &__heading {
		display: flex;
		gap: 0.5rem;
		align-items: center;

		&__link {
			display: flex;
			align-items: center;
			justify-content: center;
			background: none;
			border: none;
			color: $text-quaternary;
			cursor: pointer;
			text-decoration: none;
			transition: all 150ms ease;

			&:hover {
				color: $text-main;
			}


			& svg {
				width: 1em;
				height: 1em;

				& path {
					fill: currentColor !important;
					stroke: currentColor !important;
				}
			}

			&:hover svg {
				width: 1.1em;
				height: 1.1em;
			}

			&:active svg {
				width: 0.95em;
				height: 0.95em;
			}

		}
	}
}
