.article-container {
	display: flex;
	flex-direction: column;
	border: 1px solid $surface-2;
	border-radius: 8px;
	background: $surface-0;
}

.article-header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	border-bottom: 1px solid $surface-2;

	&__title {
		display: flex;
		gap: 1rem;
		align-items: center;

		&-text {
			font-size: 1.75rem;
			font-weight: 600;
		}

	}

	&__time {
		display: flex;
		gap: 0.25rem;
		align-items: center;
		justify-content: center;
		font-size: 0.875rem;
		color: $text-quaternary;

		&-icon {
			& path {
				fill: currentColor !important;
				stroke: currentColor !important;
			}
			:deep(path) {
				fill: currentColor !important;
				stroke: currentColor !important;
			}
			width: 1em;
			height: 1em;
		}
	}
}

.article-content {
	display: flex;
	flex-direction: row;
}

.article-sidebar {
	flex: 0 0 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-right: 1px solid $surface-2;
	padding: 0.75rem;

	& .article-nav {
		width: 100%;
		// height: 100%;
		border: 1px solid $surface-2;
		border-radius: 8px;
		padding: 0.25rem;
		background: $surface-1;

		&__list {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			list-style: none;
			padding: 0;
			margin: 0;
		}

		&__item {
			display: flex;
			width: 100%;

			&__button {
				width: 100%;
				padding: 0.5rem 1rem;
				text-align: left;
				background: $surface-2;
				border: none;
				color: $text-main;
				border-radius: 5px;
				font-size: 0.875rem;
				cursor: pointer;

				&:hover {
					background: $accent-4;
				}

				&.active {
					background: $accent-0;
					color: $surface-0;

					&:hover {
						background: $accent-1;
					}
				}
			}

		}
	}
}

.article-body {
	flex: 1 1 auto;
	background: $surface-1;
	border: 1px solid $surface-2;
	padding: 1rem;
	border-radius: 0.75rem;
	margin: 0.75rem;

	&__section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		& h3 {
			font-size: 1.25rem;
			font-weight: 500;
		}

		& hr {
			border: none;
			border-top: 1px solid $surface-2;
			margin: 0.5rem 0;
		}
	}
}
