@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.intro-section {
	@include pattern-diagonal-mavy-lines;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 400px;
	height: calc(576px + 64px);
	gap: 1.75rem;
	background-color: $surface-0;
	border-bottom: 1px solid $surface-1;
	z-index: 1;

	&__background {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 100%;
		height: 100%;
		font-family: $fonts-serif;
		color: color-mix(in srgb, $shadow-b-0, $shadow-a-0 80%);
		z-index: -1;

		&__characters {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-family: $fonts-serif;
			color: color-mix(in srgb, $shadow-b-0, $shadow-a-0 80%);

			& .chess-container, & .xiangqi-container {
					position: absolute;
					top: 0.25rem;
					right: 27rem;
			}
		}

		&__gradient {
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, transparent 90%);
		}
	}

	&__content {
		margin-block-start: auto;
		width: 60rem;

		&__random-character {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				margin-block-end: 5.75rem;

			&__symbol {
				font-family: $fonts-serif;
				font-size: 8rem;
				line-height: 1.1em;
				margin: 0
			}

			&__subtitle {
				font-size: 1.45rem;
				font-weight: 400;
				margin: 0
			}
		}

		&__header {
			display: flex;
			width: 100%;
			gap: 0.25em;
			font-size: 3rem;
			font-weight: 700;
			margin: 0;
		}

		&__description {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 0.25em;
			font-size: 1.45rem;
			font-weight: 400;
			margin-block-start: 0.75rem;
		}

		@media screen and (max-width: 1100px) {
			width: 90dvw;
		}

		@media screen and (max-width: 750px) {
			&__header {
				font-size: clamp(2rem, 1.2rem + 2vw, 2.5rem);
			}

			&__description {
				font-size: clamp(1rem, 0.9rem + 0.8vw, 1.25rem);
			}

			&__random-character {
				margin-block-end: clamp(2rem, 1.2rem + 2vw, 3.75rem);

				&__symbol {
					font-size: clamp(4rem, 2rem + 5vw, 6rem);
				}

				&__subtitle {
					font-size: clamp(1rem, 0.9rem + 0.5vw, 1.15rem);
				}
			}
		}
	}

	&__decorative-footer-container {
		position: relative;
		display: flex;
		width: 100%;
		height: 64px;
		background-color: $surface-1;

		& > .intro-section__decorative-footer-wrapper {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			filter: drop-shadow(0px 1px 0px $surface-2) drop-shadow(0px -1px 0px $surface-2);

			& > .intro-section__decorative-footer {
				position: relative;
				width: 100%;
				height: 100%;
				background-color: $surface-0;
				mask: $mask-wavy-0;
			}
		}
	}
}


